.body {
    background: red;
}

.ihg-logo {
    height: 3rem;
}

.primary-action-btn {
    background: #00b4ce;
    color: white !important;
    border: none !important;
    padding: 0.7rem 1.5rem !important;
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.3s ease-in;
    letter-spacing: 1px;
    text-align: center;
    width: 10rem;
}

.primary-action-btn:hover {
    background: #008599;
}

.nav-link {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.secondary-link {
    color: #444444 !important;
    font-weight: 500 !important;
    padding: 0.7rem 1.5rem !important;
}

.margin-1rem {
    margin-top: 1rem;
}

.jumbotron {
    background-image: url("/images/senior.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh !important;
    background-position: center;
}

.hero-section {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    color: white;
}

.hero-section h3 {
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2.5rem;
    padding-right: 40%;
    padding-bottom: 2rem;
}

.community-transportation {
    justify-content: space-between;
    padding-left: 3rem;
}

.community-transportation h4 {
    font-weight: 700;
}

.community-transportation p {
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
    .community-transportation {
        padding-top: 2rem;
        text-align: center;
        align-self: center;
    }

    .community-transportation a {
        text-align: center;
        align-self: center;
        width: 12rem;
        padding-left: 0rem;
        margin-top: 1rem;
    }
}
